* {
  margin: 0;
  padding: 0;
}

header {
  padding: 0 20px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #604133;
  color: #ead4bc;
}

.home-page,
.about-page,
.shop-page {
  height: calc(100vh - 70px);
  min-height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ead4bc;
  color: #604133;
}

.home-page > p,
.about-page > p,
.shop-page > p {
  width: 60%;
  min-width: 400px;
  text-align: center;
  border: 1px solid #604133;
  padding: 10px;
  border-radius: 10px;
}

.shop-page > p {
  border: 3px solid #9ea6a2;
  background-color: #b6dcdc;
}

.navlinks {
  margin: 10px;
  text-decoration: none;
  color: #ead4bc;
}

.navlinks:hover {
  text-decoration: underline;
}
